
statistic-modul-line-chart {
    display:block;
    border: solid thin #bfbfbf;
    background-color: #f2f2f2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 18px;
}
line-chart {
    margin: 1em 0.3em 0.3em 0.3em;
}
