.layer_over{
    background-color:#d9d9d9 ;

}
.layer_not_over{
    background-color:#f2f2f2;

}
statistic-modul-step-chart {
    display:block;
    border: solid thin #bfbfbf;
    background-color: #f2f2f2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 18px;
}
step-chart {
    margin: 1em 0.3em 0.3em 0.3em;
}
